*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

body{
    color: var(--color-white);
    background-color: var(--bg-dark);

    font-size: 62.5%;
    font-family: barlow , sans-serif;
}

/* header started */
header{
    padding: 20px;
    border-top: none;
    border: 1px solid var(--bg-gray);
    background-color: var(--bg-dark);
}

header nav ul{
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav .second_ul{
    display: none;
}
/* header ended */

/* main started */

/* container 2 ended */
main .container_1{
    width: 390px;
    height: 566px;
    background-image: url(../Assets/images/f4fdd2a23aecc907f995d84427b3721050e3a086.png);
}

main .container_1 .parent_1{
    width: 358px;
    /* margin: 0px 16px; */
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* main div div img{
    width: 100%;
    height: 248px;
} */

/* container 1 ended */

/* main ended */




@media screen and (min-width: 950px) and (max-width: 1440px) {
    
    /* header started */
    header{
        padding: 0;
    }

    header nav .first_ul{
        display: none;
    }
    
    header nav .second_ul{
        display: inline; 
        padding: 20px 80px;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    header nav ul li ul li{
        width: 80px;
        height: 45px;
        font-size: 14px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header nav ul li ul li:hover{
        background-color: var(--bg-gray);
        border-radius: 6px;
    }
    /* header ended */
    
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    
    /* header started */
    header{
        padding: 0;
    }

    header nav .first_ul{
        display: none;
    }
    
    header nav .second_ul{
        display: inline; 
        padding: 20.5px 162px;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    header nav ul li ul li{
        width: 80px;
        height: 45px;
        font-size: 14px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header nav ul li ul li:hover{
        background-color: var(--bg-gray);
        border-radius: 6px;
    }
    /* header ended */
    
}

