*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

body{
    
    color: var(--color-white);
    background-color: var(--bg-dark);

    font-size: 62.5%;
    font-family: barlow , sans-serif;
}

/* header started */
header{
    padding: 20px;
    border-top: none;
    border: 1px solid var(--bg-dark-gray);
    background-color: var(--bg-dark);
}

header nav ul{
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav .second_ul{
    display: none;
}
/* header ended */

/* main started */

/* container 1 started */

main .container_1{
    scrollbar-width:auto;
    width: 320px;
    height: 566px;
    padding: 0px 16px;
    border: 1px solid var(--bg-dark-gray);
    border-top: none;
    background-image: url(../Assets/images/f4fdd2a23aecc907f995d84427b3721050e3a086.png);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

main .container_1 .parent_1{
    overflow: hidden;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

main .container_1 .parent_1 .digital h1{
    font-size: 24px;
}

main .container_1 .parent_1 .media{
    z-index: 1;
    padding: 18px 20px;
    border-radius: 8px;
    color: var(--bg-gray);
    background-color: var(--bg-dark);
    border: 1px solid var(--bg-dark-gray);
}

main .container_1 .parent_1 .media .para_1{
    font-size: 16px;
    color: var(--bg-light-gray);
}

main .container_1 .parent_1 .bottons{
    z-index: 1;
    display: flex;
    gap: 13px;
}

main .container_1 img{
    z-index: 0;
    width: 320px;
    height: 258px;
    position: absolute;
    top: 399px;
}

/* container 1 ended */

/* container 2 started */
.container_2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.container_2 .trust{
    width: 217px;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 100px;
    color: var(--color-white);
    background-color: var(--bg-dark);
    border: 1px solid var(--bg-dark-gray);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 635px;
}

.container_2 .companyImg{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container_2 .companyImg img{
    border: 1px solid var(--bg-dark-gray);
}
/* container 2 ended */


/* container 3 started */
.main_2 .container_3{
    padding: 0px 16px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.main_2 .container_3{
    
    width: 300px;
    height: 188px;
}

.main_2 .container_3 img{
    background-image: url(../Assets/images/f4fdd2a23aecc907f995d84427b3721050e3a086.png);
    width: 300px;
    height: 188px;
}
/* container 3 ended */


/* main ended */




@media screen and (min-width: 321px) and (max-width: 949px) {
    
/* main started */

/* container 1 started */

main .container_1{
    width: 80%;
    height: 691px;
    padding: 0px 16px;
    background-image: url(../Assets/images/f4fdd2a23aecc907f995d84427b3721050e3a086.png);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

main .container_1 .parent_1{
    overflow: hidden;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

main .container_1 .parent_1 .digital h1{
    font-size: 28px;
}

main .container_1 .parent_1 .media{
    z-index: 1;
    padding: 18px 20px;
    border-radius: 8px;
    color: var(--bg-gray);
    background-color: var(--bg-dark);
    border: 1px solid var(--bg-dark-gray);
}

main .container_1 .parent_1 .media .para_1{
    font-size: 16px;
}

main .container_1 .parent_1 .bottons{
    z-index: 1;
    display: flex;
    gap: 13px;
}

main .container_1 img{
    z-index: 0;
    width: 80%;
    height: 385px;
    position: absolute;
}

/* container 1 ended */


/* container 2 started */
.container_2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.container_2 .trust{
    width: 217px;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 100px;
    color: var(--color-white);
    background-color: var(--bg-dark);
    border: 1px solid var(--bg-dark-gray);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 760px;
}

.container_2 .companyImg{
    width: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container_2 .companyImg img{

    border: 1px solid var(--bg-dark-gray);
}
/* container 2 ended */

/* main ended */
    
}

@media screen and (min-width: 950px) and (max-width: 1440px) {
    
    /* header started */
    header{
        padding: 0;
    }

    header nav .first_ul{
        display: none;
    }
    
    header nav .second_ul{
        display: inline; 
        padding: 20px 80px;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    header nav ul li ul li{
        width: 80px;
        height: 45px;
        font-size: 14px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header nav ul li ul li:hover{
        background-color: var(--bg-dark-gray);
        border-radius: 6px;
    }
    /* header ended */

    /* main started */

    /* container 1 started */
    
    main .container_1{
        width: 80%;
        height: 691px;
        padding: 0px 16px;
        background-image: url(../Assets/images/f4fdd2a23aecc907f995d84427b3721050e3a086.png);
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    main .container_1 .parent_1{
        overflow: hidden;
        text-align: center;
    
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    
    main .container_1 .parent_1 .digital{
        display: none;
    }
    
    main .container_1 .parent_1 .digital_2{
        display: inline;
    }
    
    main .container_1 .parent_1 .digital_2 h1{
        font-size: 48px;
    }
    
    main .container_1 .parent_1 .media{
        display: none;
    }
    
    main .container_1 .parent_1 .media_box{
        display: inline;
        z-index: 1;
        padding: 18px 30px;
        border-radius: 8px;
        color: var(--bg-light-gray);
        background-color: var(--bg-dark);
        border: 1px solid var(--bg-dark-gray);
    }
    
    main .container_1 .parent_1 .media_box .para_box{
        font-size: 18px;
    }
    
    main .container_1 .parent_1 .bottons{
        z-index: 1;
        display: flex;
        gap: 13px;
    }
    
    main .container_1 img{
        z-index: 0;
        width: 80%;
        height: 258px;
        position: absolute;
        top: 525px;
    }
    
    /* container 1 ended */

/* container 2 started */
.container_2{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid var(--bg-dark-gray);
}
.container_2 .trust{
    width: 217px;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 100px;
    color: var(--color-white);
    background-color: var(--bg-dark);
    border: 1px solid var(--bg-dark-gray);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 756px;
}

.container_2 .companyImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.container_2 .companyImg img{
    margin: 20px 0px;
    width: 196.69;
    height: 72px;
    border: none;
}
/* container 2 ended */
    
/* main ended */
        
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    
    /* header started */
    header{
        padding: 0;
    }
    

    header nav .first_ul{
        display: none;
    }
    
    header nav .second_ul{
        display: inline; 
        padding: 20.5px 162px;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    header ul li img{
        width: 177.77px;
    }
    
    header nav ul li ul li{
        width: 80px;
        height: 45px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    header nav ul li ul li:hover{
        background-color: var(--bg-dark-gray);
        border-radius: 6px;
    }

    .button_contact{
        width: 135px;
        height: 59px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        border-style: none;
        border-radius: 8px;
        color: var(--bg-dark);
        background-color: var(--bg-green);
    }
/* header ended */

/* main started */
    
/* container 1 started */

main .container_1{
    width: 80%;
    height: 691px;
    padding: 0px 16px;
    background-image: url(../Assets/images/f4fdd2a23aecc907f995d84427b3721050e3a086.png);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

main .container_1 .parent_1{
    overflow: hidden;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

main .container_1 .parent_1 .digital{
    display: none;
}

main .container_1 .parent_1 .digital_2{
    display: inline;
}

main .container_1 .parent_1 .digital_2 h1{
    font-size: 68px;
}

main .container_1 .parent_1 .media{
    display: none;
}

main .container_1 .parent_1 .media_box{
    display: inline;
    z-index: 1;
    padding: 24px 40px;
    border-radius: 12px;
    color: var(--bg-light-gray);
    background-color: var(--bg-dark);
    border: 1px solid var(--bg-dark-gray);
}

.botton_contact_2{
   width: 143px;
   height: 58px;
   font-size: 18px;
   cursor: pointer;
   font-weight: 500;
   border-style: none;
   border-radius: 10px;
   color: var(--bg-dark);
   background-color: var(--bg-green);
}

.boxes{
    padding: 12px 14px; 
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    border-style: none;
    border-radius: 8px;
    color: var(--bg-white);
    background-color: var(--bg-dark-gray);
}

.botton_work{
    width: 143px;
    height: 58px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 10px;
    border-style: none;
    color: var(--color-white);
    border: 1px solid var(--bg-dark-gray);
    background-color: var(--bg-dark);
}


main .container_1 .parent_1 .media_box .para_box{
    font-size: 22px;
}

main .container_1 .parent_1 .bottons{
    z-index: 1;
    display: flex;
    gap: 13px;
}

main .container_1 img{
    z-index: 0;
    width: 80%;
    height: 258px;
    position: absolute;
    top: 540px;
}

/* container 1 ended */


/* container 2 started */
.container_2{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid var(--bg-dark-gray);
}
.container_2 .trust{
    width: 286px;
    height: 62px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 100px;
    color: var(--color-white);
    background-color: var(--bg-dark);
    border: 1px solid var(--bg-dark-gray);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 756px;
}

.container_2 .companyImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0px;
}

.container_2 .companyImg img{
    padding: 10px 20px;
    border: none;
}
/* container 2 ended */

/* main ended */
    
}

