/* display stated */
.dis_none{
  display: none;
}

.dis_inline{
  display: inline;
}
/* display ended */

/* bg-color-started */
:root {

  --bg-green: rgb(158, 255, 0);
  --bg-white: rgb(255, 255, 255);
  --bg-black: #000000;
  --bg-dark: rgb(25, 25, 25);
  --bg-gray: rgb(38, 38, 38);
}

.bg-gray {
  background-color: var(--bg-gray);
}

.bg-green {
  background-color: var(--bg-green);
}

.bg-white {
  background-color: var(--bg-white);
}

.bg-black {
  background-color: var(--bg-black);
}

.bg-dark {
  background-color: var(--bg-dark);
}
/* bg-color-ended */

/* color-started */
:root {

 --color-green: rgb(158, 255, 0);
 --color-white: rgb(255, 255, 255);
 --color-black: #000000;
 --color-dark: rgb(25, 25, 25);
 --color-gray: rgb(38, 38, 38);
}

.color-gray {
  color: var(--color-gray);
}

.color-green {
  color: var(--color-green);
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.color-dark {
  color: var(--color-dark);
}
/* color-ended */
 
/* Button Contact started */
.button_contact{
  width: 104px;
  height: 45px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-style: none;
  border-radius: 6px;
  color: var(--bg-dark);
  background-color: var(--bg-green);
}
/* Button Contact ended */



