/* display stated */
.dis_none{
  display: none;
}

.dis_inline{
  display: inline;
}
/* display ended */

/* bg-color-started */
:root {

  --bg-green: rgb(158, 255, 0);
  --bg-white: rgb(255, 255, 255);
  --bg-black: #000000;
  --bg-dark: rgb(25, 25, 25);
  --bg-dark-gray: rgb(38, 38, 38);
  --bg-light-gray: rgb(152, 152, 154);
 }
 
 .bg-dark-gray {
   background-color: var(--bg-dark-gray);
 }
 
 .bg-light-gray {
   background-color: var(--bg-light-gray);
 }
.bg-green {
  background-color: var(--bg-green);
}

.bg-white {
  background-color: var(--bg-white);
}

.bg-black {
  background-color: var(--bg-black);
}

.bg-dark {
  background-color: var(--bg-dark);
}
/* bg-color-ended */

/* color-started */
:root {

 --color-green: rgb(158, 255, 0);
 --color-white: rgb(255, 255, 255);
 --color-black: #000000;
 --color-dark: rgb(25, 25, 25);
 --color-dark-gray: rgb(38, 38, 38);
 --color-light-gray: rgb(152, 152, 154);
}

.color-dark-gray {
  color: var(--color-dark-gray);
}

.color-light-gray {
  color: var(--color-light-gray);
}

.color-green {
  color: var(--color-green);
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.color-dark {
  color: var(--color-dark);
}
/* color-ended */
 
/* Button Contact started */
.button_contact{
  width: 104px;
  height: 45px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-style: none;
  border-radius: 6px;
  color: var(--bg-dark);
  background-color: var(--bg-green);
}
/* Button Contact ended */

/* Button work started */
.botton_work{
  width: 103px;
  height: 45px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 8px;
  border-style: none;
  color: var(--color-white);
  border: 1px solid var(--bg-dark-gray);
  background-color: var(--bg-dark);
}
/* Button work ended */

/* Button Contact 2 started */
.botton_contact_2{
 width: 108px;
 height: 45px;
 cursor: pointer;
 font-size: 14px;
 font-weight: 500;
 border-style: none;
 border-radius: 8px;
 color: var(--bg-dark);
 background-color: var(--bg-green);
}
/* Button Contact 2 ended */

/* box media started */
.boxes{
 padding: 8px 10px; 
 cursor: pointer;
 font-size: 18px;
 font-weight: 400;
 border-style: none;
 border-radius: 6px;
 color: var(--bg-white);
 background-color: var(--bg-dark-gray);
}
/* box media ended */



